.no-post-component{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.no-post-component object{
    width: 100%;
}

.post-image-container{
    width: 250px;
    text-align: center;
}

.no-post-component p{
    color: #ccc;
    font-size: 16px;
    font-weight: 700;
}